@model Moov2.Orchard.RelatedContent.Models.RelatedContentPart

@using Moov2.Orchard.RelatedContent.Dtos;

@{
    Style.Require("RelatedContentAdmin");
    Script.Require("RelatedContentAdmin").AtFoot();
    var relatedContentDtos = Model.RelatedContentDtos;
}

<fieldset>
    <h2>Related Content</h2>

    <div class="button primaryAction add-related-link-button js-add-related-content">Add</div>

    <div class="related-link-form js-related-content-form">
        <input type="hidden" class="js-related-content-types" value="@Model.RelatedContentTypes" />
        <div class="related-link-content js-related-content-content">
            <div class="button primaryAction js-related-content-select-content-btn">Select Content</div>
            <div class="related-link-selected-content js-related-content-selected-content"></div>
            <div class="message message-Warning js-related-content-unpublished-content">Unable to link to an unpublished content item.</div>
            <input type="hidden" class="js-related-content-item-id" value="-1" />
            <input type="hidden" class="js-related-content-item-display-link" value="" />
        </div>

        <label for="RelatedContentText">Text</label>
        <input type="text" name="RelatedContentText" id="RelatedContentText" class="text-box js-related-content-text" />

        <div class="related-link-save">
            <div class="button primaryAction disabled js-related-content-save-button">Save</div>
            <div class="button primaryAction js-related-content-cancel-button">Cancel</div>
        </div>
    </div>

    <div class="contentItems bulk-items js-related-contents-links-list-container" @(relatedContentDtos.Count == 0 ? "style=display:none;" : "")>
        <ul class="js-related-contents-links-list">
            @foreach (RelatedContentDto relatedContentLink in relatedContentDtos)
            {
                var contentItem = Model.GetItemForDto(relatedContentLink);
                <li @((relatedContentDtos.IndexOf(relatedContentLink) + 1) == relatedContentDtos.Count ? "class=last" : "")>
                    <div class="summary">
                        <div class="properties">
                            <h3>@relatedContentLink.Label</h3>
                            @if (contentItem != null)
                            {
                                <text> - </text>@Html.ItemDisplayLink(relatedContentLink.ItemTitle, contentItem, new { target = "_blank" })
                            }
                        </div>
                        <div class="related">
                            <a href="#" data-index="@relatedContentDtos.IndexOf(relatedContentLink)" class="js-edit-related-content">Edit</a> |
                            <a href="#" data-index="@relatedContentDtos.IndexOf(relatedContentLink)" class="js-remove-related-content">Delete</a>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>

    @Html.HiddenFor(x => x.RelatedContentJson, new { @class = "js-related-content-json" })
</fieldset>